# Don't copy .env as it's only meant for local development
.env

# Don't copy the .git repo history
.git

# Don't copy the data directory, as the database will be created on build
data

# Ignore the NPM cache
/node_modules/

# Ignore macOS cache files
.DS_Store
