<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet">
    <title>404 - Not Found</title>
</head>

<body class="bg-gradient-to-b from-bg-slate-400 to-bg-white text-slate-800 antialiased dark:bg-slate-900">

    <main class="mb-12">

        <div class="bg-slate-800 pb-6 drop-shadow-md shadow-md">

            <header class="mx-auto my-auto lg:max-w-8xl lg:w-[70rem] w-full px-4 pt-6 mb-0">
                <h1 class="text-4xl font-bold text-left mb-0 text-white">A Go URL Shortener</h1>
            </header>

        </div>

        <hr class="w-48 h-1 mx-auto my-4 bg-slate-200 dark:bg-slate-800 border-0 shadow-sm rounded md:my-5 md:mb-5">

        <div class="mx-auto my-auto lg:max-w-8xl lg:w-[70rem] w-full px-4 mt-3 mb-4">
            <div class="mx-auto my-auto lg:max-w-8xl lg:w-[70rem] w-full px-4 mt-6 mb-1">
                <h2 class="text-3xl font-bold text-left mb-4">404 - Not Found</h2>
                <p>Sadly, we were not able to find the route that you were looking for.</p>
            </div>
        </div>
    </main>

    <hr class="w-48 h-1 mx-auto my-4 bg-slate-200 dark:bg-slate-800 border-0 shadow-sm rounded md:my-5 md:mb-5">

    <footer
        class="mx-auto my-auto lg:max-w-8xl lg:w-[70rem] w-full px-4 mt-2 mb-0 pl-5 lowercase text-slate-400 dark:text-slate-500 text-sm text-center mb-4">
        <a href="#"
            class="hover:underline underline-offset-4 decoration-2 decoration-slate-300 transition ease-in-out delay-150 duration-100">
            Created by Matthew Setter.
        </a>
        <a href="#"
            class="hover:underline underline-offset-4 decoration-2 decoration-slate-300 transition ease-in-out delay-150 duration-100">
            Powered by Twilio.
        </a>
    </footer>

</body>

</html>